include README.md CHANGELOG.md LICENSE.md
recursive-include docs *.md
recursive-include aipairprogrammer/test *.py
include scripts/check_wheel.py
include scripts/preview.py
recursive-include docs/images *.png
